html, body{
    margin-left: 20%;
    margin-top: 2%;
    background-color: azure;
}

#container h1{
    font-family: 'Oleo Script', cursive;
    font-size: 400%;
    color: midnightblue;
    font-weight: bold;
}

#container a, #container a:hover, #container a:link, #container a:active{
    text-decoration: none;
    color: midnightblue;
    cursor: default;
}

.photo-grid{
    position: relative;
    left: -35%;
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
}

.grid-figure , .single-photo{
    background-color: snow;
    width: 250px;
    height: 400px;
    outline: 4px solid lightgray;
    line-height: 50px;
    margin-left: 20px;
    margin-bottom: 50px;
    vertical-align: top;
}

.grid-photo{
    width: 250px;
    height: 300px;
}

.fig-caption{
    position: relative;
    top: -20px;
    text-indent: 20px;
    font-weight: bold;
}

.control-buttons button{
    width: 80px;
    height: 23px;
    color: midnightblue;
    background-color: snow;
    outline: 1px solid lightgrey;
    border: none;
    font-family: 'Patrick Hand', cursive;
    font-size: 20px;
    line-height: 23px;
}

.control-buttons button:hover, .control-buttons .button:hover{
    outline: 2px solid midnightblue;
}

.control-buttons .button{
    position: relative;
    top: -2px;
    left: 60px;
    width: 80px;
    height: 19px;
    color: midnightblue;
    background-color: snow;
    outline: 1px solid lightgrey;
    border: none;
    font-family: 'Patrick Hand', cursive;
    font-size: 17px;
    line-height: 18px;
}

.speech-bubble{
    position: relative;
    top: 4px;
    content: url("https://www.wescom.org/contact/images/newebranch-chat-icon.png");
    width: 20px;
    height: 20px;
}

.single-show .single-photo{
    display: flex;
    position: relative;
    left: -50px;
    width: 500px;
    height: 400px;
    align-content: left;
}


.single-show .grid-figure {
    outline: none;
}

.comment{
    height: 20px;
    line-height: 80px;
    border-bottom: 1px solid lightgray;
}

.comment strong{
    color: royalblue;
    font-weight: bold;
    margin-right: 10px;
}

.remove-comment{
    position: relative;
    top: 5px;
    left: 20px;
    background-color: snow;
    border: none;
    font-size: 25px;
    font-weight: bold;
    color: red;
}

.comment-form{
    position: relative;
    top: 40px;
    line-height: 30px;
}